/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   My custom PC styles
   ========================================================================== */


/*Header--------------------------------------> */
header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 824px;
  opacity: 1;
  background-image: url("../img/Mask Group 29@2x.png");
  background-size: cover;
}


/*Nav----*/
nav{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 1282px;
  height: 77px;
  margin-left: 42px;
  margin-right: 42px;
  background: var(--dark-gray) 0% 0% no-repeat padding-box;
  border-radius: 39px;
  position: fixed;
  left: 0;
  top: 0;
  transition: top .6s;
  overflow: hidden;
}


nav h4{
  width: 94px;
  margin-right: 25px;
  margin-left: 25px;
  color: var(--white);
  text-align: center;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
}

header .nav_icon{
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.nav_button{
  width: 128px;
  height: 40px;
  background: transparent;
  border-radius: 4px;
  border: solid 2px var(--white);
  color: var(--white);
  text-align: center;
  font: normal normal bold 14px/18px Roboto;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.nav_bar_icon{
  display: none;
}

.nav_logo{
  margin-left: 32px;
  width: 192px;
  height: 44px;
}

.header_nav-index{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
}

.header_infoHBar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 117px;
}

.header_infoHBar img{
  width: 673px;
  height: 21px;
  margin-right: 42px;
}

/*Center----*/
.header_center{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.header_center-right{
  margin-top: 30px;
  width: 711px;
}

.header_center-right p{
  margin-left: 44px;
  width: 582px;
  height: 32px;
  text-align: left;
  font: normal normal 300 24px/28px Roboto;
  letter-spacing: -0.14px;
  color: var(--white);
}

.header_center-rightUp{
  margin-bottom: -28px;
}

.header_center-rightDw{
  margin-top: 20px;
}

.header_center-left, .header_center-left img{
  width: 183px;
  height: 464px;
}


 .header_center-right img{
  width: 711px;
  height: 259px;

}


.header_info-middleCover{
  display: none;
}





/*Popup menu*/
.popup_video{
  width: 800px;
  height: 400px;
  margin-left: -50px;
}

.modal-dialog{
  background-color:transparent;
}
.modal-fade{
  background-color:transparent;
}
.modal-body{
  background-color:transparent;
}

.btn-close{
  position: fixed;
}




/*Section cards------   -------------------> */
.SectionCards{
  margin-left: 42px;
  margin-right: 42px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.SectionCards_cardCover{
  border-radius: 4px;
  margin-top: 36px;
  width: 301px;
  background-color: var(--dark-gray);
  border: solid 8px var(--dark-gray);
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
}

.SectionCards_card{
  width: 100%;
  border-radius: 4px;
  height: 100%;
  background-image: url("../img/Secondary texture container.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionCards_card img:nth-child(1){
  width: 85px;
  height: 65px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.SectionCards_card-iconArow{
  width: 46px;
  height: 25px;
  justify-self: flex-end;
  margin-bottom: 20px;
  margin-top: auto;
}

.SectionCards_card h3{
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  font: normal normal normal 16px/28px Roboto;
  letter-spacing: 0px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 0px;
}

.SectionCards_card h2{
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  color: var(--white);
  text-align: center;
  font: normal normal normal 23px/28px Black Han Sans;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 20px;
}





/*Section update and References ----------------------*/
/*Update*/
.SectionUpdateRef{
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionUpdateRef_update{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionUpdateRef_update h2{
  color: var(--dark-blue-gray);
  text-align: center;
  font: normal normal normal 23px/28px Black Han Sans;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.SectionUpdateRef_update p{
  width: 410px;
  color: var(--dark-blue-gray);
  text-align: center;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0px;
}

.SectionUpdateRef_update button{
  background: var(--medium_yellow) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  color: var(--dark-blue-gray);
  text-align: center;
  font: normal normal bold 15px/20px Roboto;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 20px;
  width: 90px;
  height: 42px;
}

/*References */
.SectionUpdateRef_refer{
  margin-top: 54px;
  margin-left: 150px;
  margin-right: 150px;
}

.SectionUpdateRef_refer p{
  color: var(--dark-blue-gray);
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
}

.SectionUpdateRef_refer strong{
  font: normal normal bold 14px/19px Roboto;
}





/*Footer------------------*/
footer{
  background: var(--dark-gray) 0% 0% no-repeat padding-box;
  margin-top: 80px;
  color: var(--white);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer_nav div p{
  color: var(--white);
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  margin-right: 20px;
}

.footer_below p, .footer_nav-p{
  color: var(--white);
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
}



.footer_nav{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_nav div{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

footer img{
  background: var(--dark-gray) 0% 0% no-repeat padding-box;
  display: flex;
  margin-top: 74px;
  margin-bottom: 64px;
  width: 192px;
  height: 44px;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */
:root {

  /* Colors: */
  --light-orange: #FF0000;
  --medium-gray: #D8DFED;
  --dark-gray: #152535;
  --medium-orange: #E54E39;
  --white: #FFFFFF;
  --dark-blue-gray: #294256;
  --medium_yellow: #FAA61A;
}

nav h4:hover {
  color: var(--medium_yellow);
}

.nav_button:hover{
  width: 128px;
  height: 40px;
  border-radius: 4px;
  font: normal normal bold 14px/18px Roboto;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  background: var(--medium_yellow) 0% 0% no-repeat padding-box;
  border: none;
  color: var(--dark-blue-gray);
}

nav.animate{
  top: -150px;
}

nav.sticky{
  top: 0;
  z-index: 99;
}













/* ==========================================================================
   My custom Mobile styles
   ========================================================================== */
@media only screen and (max-width: 600px) {

  /*Header--------------------------------------> */
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 622px;
    opacity: 1;
    background-image: url("../img/Mobile/BACKGROUND mobile@2x.png");
    background-size: cover;
  }

  /*Nav----*/
  nav {
    position: fixed;
    left: initial;
    top: 0;
    transition: top .6s;
    overflow: hidden;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 100%;
    height: 48px;
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    border-radius: 0px;
    padding: 10px;
  }

  nav h4 {
    display: none;
  }

  header .nav_icon {
    display: none;
  }

  .nav_button {
    display: none;
  }

  .nav_bar_icon{
    display: flex;
    width: 44px;
    height: 22px;
    opacity: 1;
    margin-right: 17px;
  }

  .nav_logo {
    margin-left: 32px;
    width: 138px;
    height: 32px;
  }

  .header_nav-index {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
  }



  .header_infoHBar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }

  .header_infoHBar img {
    content: url("../img/Mobile/Group 2083@2x.png");
    width: 300px;
    height: 33px;
    margin-right: 0px;
  }

  /*Center----*/
  .header_center {
    display: flex;
    justify-content: space-around;
    margin-top: 43px;
  }


  .header_center-left, .header_center-left img {
    width: 98px;
    height: 252px;
    content: url("../img/Mobile/METER mobile@2x.png");
  }

  .header_center-right{
    display: flex;
    flex-direction: column;
    width: 207px;
    margin-top: 20px;
    justify-content: flex-start;
  }

  .header_center-right img{
    content: url("../img/Mobile/title mobile@2x.png");
    width: 207px;
    height: 167px;
  }

  .header_center-rightUp{
    margin-bottom: 4px;
  }

  .header_center-rightDw{
    display: none;
  }

  .header_center-right p {
    width: 189px;
    height: 33px;
    text-align: left;
    font: normal normal 300 13px/15px Roboto;
    letter-spacing: -0.25px;
    color: var(--white);
    margin-top: 0px;
    margin-left: 10px;
  }

  .header_info-middleCover{
    width: 301px;
    height: 89px;
    align-self: center;
    background: #00152C 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    margin-top: 42px;
  }

  .header_info-middle{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 13px;
    margin-left: 13px;
    color: var(--white);
    font: normal normal 300 13px/17px Roboto;
    letter-spacing: -0.08px;
    text-align: center;
  }





  /*Navigation Bar*--------------------- */
  .offcanvas-header{
    background-color: var(--dark-gray);
    display: flex;
    height: 44px;
  }

  .my_btn-close{
    width: 38px;
    height: 38px;
  }

  .offcanvas-body{
    padding-right: 37px;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .offcanvas-body ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .offcanvas-body ul li{
    color: var(--white);
    text-decoration: none;
    font: normal normal normal 15px/20px Roboto;
    margin-top: 22px;
  }

  .navBar_buttonGetUp{
    margin-top: 50px;
    width: 129px;
    height: 42px;
    background: transparent;
    border-radius: 4px;
    border: solid 2px var(--white);
    color: var(--white);
    text-align: center;
    font: normal normal bold 14px/18px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .navigationBar_socialMedia{
    width: 129px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }



  /*Section cards-------------------------> */
  .SectionCards {
    margin-left: 42px;
    margin-right: 42px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    margin-top: -68px;
  }

  .SectionCards_cardCover {
    border-radius: 4px;
    margin-top: 16px;
    width: 286px;
    background-color: var(--dark-gray);
    border: solid 8px var(--dark-gray);
    display: grid;
  }

  .SectionCards_card {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-image: url("../img/Secondary texture container.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SectionCards_card img:nth-child(1) {
    width: 72px;
    height: 63px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .SectionCards_card-iconArow {
    width: 46px;
    height: 25px;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .SectionCards_card h3 {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  .SectionCards_card h2 {
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
    color: var(--white);
    text-align: center;
    font: normal normal normal 18px/27px Black Han Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }






  /*Section update and References ----------------------*/
  /*Update*/
  .SectionUpdateRef {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 47px;
    margin-right: 47px;
  }

  .SectionUpdateRef_update {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .SectionUpdateRef_update h2 {
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal normal 23px/28px Black Han Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .SectionUpdateRef_update p {
    width: auto;
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
  }

  .SectionUpdateRef_update button {
    background: var(--medium_yellow) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-top: 16px;
    width: 90px;
    height: 42px;
  }

  /*References */
  .SectionUpdateRef_refer {
    margin-top: 54px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .SectionUpdateRef_refer p {
    color: var(--dark-blue-gray);
    text-align: left;
    font: normal normal 300 14px/19px Roboto;
    letter-spacing: 0px;
    margin-bottom: 0px;
  }

  .SectionUpdateRef_refer strong {
    font: normal normal bold 14px/19px Roboto;
  }





  /*Footer------------------*/
  footer{
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    margin-top: 0px;
    color: var(--white);
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer .footer_nav div p{
    color: var(--white);
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    margin-right: 0px;
    margin-top: 22px;
    margin-bottom: 0px;
  }

  .footer_below p, .footer_nav-p{
    color: var(--white);
    text-align: left;
    font: normal normal 300 14px/19px Roboto;
    letter-spacing: 0px;
    margin-top: 32px;
  }



  .footer_nav{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer_nav div{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  footer img{
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 192px;
    height: 44px;
  }


}



































/* ==========================================================================
   My custom Tablets styles
   ========================================================================== */
@media only screen and (max-width: 1000px) and (min-width: 601px) {

  /*Header--------------------------------------> */
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 824px;
    opacity: 1;
    background-image: url("../img/Mask Group 29@2x.png");
    background-size: cover;
  }

  /*Nav----*/
  nav {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
    height: 55px;
    margin-left: 42px;
    margin-right: 42px;
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    border-radius: 39px;
    position: fixed;
    left: 0;
    top: 0;
    transition: top .6s;
    overflow: hidden;
  }

  nav h4 {
    width: 94px;
    margin-right: 2px;
    margin-left: 2px;
    color: var(--white);
    text-align: center;
    font: normal normal 300 10px/13px Roboto;
    letter-spacing: 0px;
  }

  header .nav_icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .nav_button {
    margin-left: 2px;
    width: 68px;
    height: 27px;
    background: transparent;
    border-radius: 4px;
    border: solid 2px var(--white);
    color: var(--white);
    text-align: center;
    font: normal normal bold 8px/12px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .nav_button:hover{
    width: 68px;
    height: 27px;
    font: normal normal bold 8px/12px Roboto;
  }

  .nav_bar_icon {
    display: none;
  }

  .nav_logo {
    margin-left: 32px;
    width: 92px;
    height: 21px;
  }

  .header_nav-index {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
  }

  .header_infoHBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 87px;
  }

  .header_infoHBar img {
    width: 673px;
    height: 21px;
    margin-right: 42px;
  }

  /*Center----*/
  .header_center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }

  .header_center-right{
    margin-left: 50px;
    margin-top: -20px;
    width: 711px;
  }

  .header_center-right p{
    margin-left: 44px;
    width: 482px;
    text-align: left;
    font: normal normal 300 18px/20px Roboto;
    letter-spacing: -0.25px;
    color: var(--white);
  }

  .header_center-rightUp{
    margin-bottom: -28px;
  }

  .header_center-rightDw{
    margin-top: 20px;
  }

  .header_center-left, .header_center-left img{
    width: 143px;
    height: 364px;
    margin-left: 20px;
  }


  .header_center-right img{
    width: 511px;
    height: 186px;

  }


  .header_info-middleCover{
    display: none;
  }







  /*Section cards------   -------------------> */
  .SectionCards {
    margin-left: 42px;
    margin-right: 42px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    flex-wrap: wrap;
  }

  .SectionCards_cardCover {
    border-radius: 4px;
    margin-top: 36px;
    width: 301px;
    background-color: var(--dark-gray);
    border: solid 8px var(--dark-gray);
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
  }

  .SectionCards_card {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    background-image: url("../img/Secondary texture container.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SectionCards_card img:nth-child(1) {
    width: 85px;
    height: 65px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .SectionCards_card-iconArow {
    width: 46px;
    height: 25px;
    justify-self: flex-end;
    margin-bottom: 20px;
    margin-top: auto;
  }

  .SectionCards_card h3 {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  .SectionCards_card h2 {
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
    color: var(--white);
    text-align: center;
    font: normal normal normal 23px/28px Black Han Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  /*Section update and References ----------------------*/
  /*Update*/
  .SectionUpdateRef {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SectionUpdateRef_update {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SectionUpdateRef_update h2 {
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal normal 23px/28px Black Han Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .SectionUpdateRef_update p {
    width: 410px;
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
  }

  .SectionUpdateRef_update button {
    background: var(--medium_yellow) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    color: var(--dark-blue-gray);
    text-align: center;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 90px;
    height: 42px;
  }

  /*References */
  .SectionUpdateRef_refer {
    margin-top: 54px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .SectionUpdateRef_refer p {
    color: var(--dark-blue-gray);
    text-align: left;
    font: normal normal 300 14px/19px Roboto;
    letter-spacing: 0px;
  }

  .SectionUpdateRef_refer strong {
    font: normal normal bold 14px/19px Roboto;
  }

  /*Footer------------------*/
  footer {
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    margin-top: 80px;
    color: var(--white);
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer .footer_nav div p {
    color: var(--white);
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    margin-right: 20px;
  }

  .footer_below p, .footer_nav-p {
    color: var(--white);
    text-align: left;
    font: normal normal 300 14px/19px Roboto;
    letter-spacing: 0px;
  }

  .footer_nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer_nav div {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  footer img {
    background: var(--dark-gray) 0% 0% no-repeat padding-box;
    display: flex;
    margin-top: 74px;
    margin-bottom: 64px;
    width: 192px;
    height: 44px;
  }
}
























/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

